{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
  <ul>
    {% url 'stats' as url %}
    <li><a href="{{ url }}">Overview</a>
    {% url 'list' as url %}
    <li><a href="{{ url }}">List of employees</a>
    {% url 'search' as url %}
    <li><a href="{{ url }}">Search for employees</a>
    {% url 'myprofile' as url %}
    <li><a href="{{ url }}">My profile</a>
    {% url 'logout' as url %}
    <li><a href="{{ url }}">Log out</a>
  </ul>
{% else %}
    {% url 'login' as url %}
    <a href="{{ url }}">Log in</a>
{% endif %}
{% endblock %}
